/*body {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  background-size: cover;
}

#bgPicture{
  background-repeat: no-repeat;
  background-size: 100%;
}
 
.middle {
  position: sticky; 
  top: 16%;
  left: auto; 
  transform: translate(-50%, -50%); 
  z-index: 100;
} */
/*.middle h1 {
  font-size: 72px;*/
  /* text-transform: uppercase; */
  /*font-weight: 900;
  color: #a7abaf82;
  background-image: url(/media/water4.webp);
  background-size: auto;
  -webkit-background-clip: text;
  -webkit-animation: water 15s infinite;
          animation: water 15s infinite;
}


@-webkit-keyframes water {
  from {
    background-position: left 0 top 0;
  }
  to {
    background-position: left 1000px top 0;
  }
}

@keyframes water {
  from {
    background-position: left 0 top 0;
  }
  to {
    background-position: left 1000px top 0;
  }
}

*/



/* html,
body {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  background: #fff;
}

#canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
} */




/* WATER PIPE */


/* #bgPicture{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cup {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1920px;
  height: 180px;
  border: 16px solid #212527;
  border-top: 16px solid #212527;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: url(https://image.ibb.co/fmHm66/wave.png);
  background-position: 0px 30px;
  background-repeat: repeat-x;
  animation: filling 16s ease-in-out infinite;
  box-shadow: 0 0 0 0px #fff, 0 0px 0px rgba(0,0,0,1);
}



@keyframes filling {
  50% {background-position: 3000px 0px;}
  100% {background-position: 6000px 50px;}
} */

/* body {
  margin: 0;
  overflow: hidden;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Righteous", cursive;
} */

/* body {
  min-height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
} */

body {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  background-size: contain;
  /* background-image: url(/media/detailed-plans-of-roman-aqueducts.jpg); */
}
strong{
  font-size: 16px;
  
}

#bgPicture{
  background-repeat: no-repeat;
  background-size: 100%;
  /* background-image: url('/media/architect.webp'); */
}

.middle h1 {
  font-size: 72px;
  font-weight: 900;
  color: #a7abaf82;
  background-image: url(/media/water4.webp);
  background-size: auto;
  -webkit-background-clip: text;
  -webkit-animation: water 15s infinite;
          animation: water 15s infinite;
}


@-webkit-keyframes water {
  from {
    background-position: left 0 top 0;
  }
  to {
    background-position: left 1000px top 0;
  }
}

@keyframes water {
  from {
    background-position: left 0 top 0;
  }
  to {
    background-position: left 1000px top 0;
  }
}



/* body {
  margin: 0;
  display: flex; 
  align-items: center;
  background-color: #212529;
  height: 100vh;

}

.animation-title {
  color: #fff;
  font-size: 3.82rem;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
  line-height: 1;
  letter-spacing: 0.1em;
  font-family: -apple-system, "avenir next", avenir, roboto, noto,
    "helvetica neue", helvetica, ubuntu, "franklin gothic medium",
    "century gothic", sans-serif;
}

.wave {
  animation: moveTheWave 2400ms linear infinite;
  stroke-dasharray: 0 16 101 16;
}

@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }

  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }
} */
#bg_architect{
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url('/media/Водовод.webp');
  z-index: -100;
  background-size: cover;
  background-position-x: right;
}

#bgPicture {
	background: linear-gradient(0deg,#212529,rgba(96, 96, 96, 0.8),#212529); /*#ffc107*/
  
	background-size: 400% 400%;
  
	animation: gradient 32s ease infinite;  
}

@keyframes gradient {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card{
  box-shadow:  0 0 16px 10px rgba(55, 55, 55, 0.7);
  /* cursor: grab; */
}

.Victory{
  letter-spacing: 0.1em;
}

/* #form{
  
} */

#body{
  background: linear-gradient(0deg,#212529,rgba(192, 192, 192, 0.8),#212529);
  animation: gradient 12s ease infinite;  
}
